
table, tr {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    text-align: center;
  }
  td {
      flex-grow: 1;
  }
body {
    background-color: lightblue;
}

tbody {
    width: 100%;
}


.simple-input {
    display: block;
    padding: 5px;
    border: 4px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}

.simple-input:hover {
    border-radius: 8px
}

.simple-input:focus {
    outline: none;
    border-radius: 8px;
    border-color: #EBD292;
}
